<p id="notice"><%= notice %></p>



<% if user_signed_in? %>
  <% if current_user.email == 'kandelchy@gmail.com' %>
    <%= link_to 'Add books', new_book_path %> |
    <%= link_to 'Add Blog', '/blog/monologue' %> |
  <%end%>  
<%end%>  
<%= link_to 'Map', new_maplocation_path(book_id: 1) %> |
<%= link_to 'My Blog', '/blog' %> |  
<%= link_to 'Contact us' %>
<br>
<h1>Books List</h1>
<br><br>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author.full_author_name %></td>
        <td><%= book.category %></td>
        <td><%= book.price %></td>
        <td><%= image_tag book.photo, class:"img-rounded" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <% if current_user.email == 'kandelchy@gmail.com' %>
    <%= link_to 'Add books', new_book_path %> |
    <%= link_to 'Add Blog', '/blog/monologue' %> |
  <%end%>  
<%end%>  
<%= link_to 'Map', new_maplocation_path(book_id: 1) %> |
<%= link_to 'My Blog', '/blog' %> |
<%= link_to 'Contact us' %>
<br><br><br>
