<p id="notice"><%= notice %></p>


<table class = "table table-stripped">
  <tbody>
    <tr>
      <td>
          <strong>Title:</strong>
      </td>
      <td>
          <%= @book.title %>
      </td>
      <td>
        <td rowspan="6">
        <%= image_tag @book.image.thumb.url, class:"img-rounded" %>        
      </td>

    </tr>
    <tr>
      <td>
          <strong>Isbn:</strong>
      </td>
      <td>
          <%= @book.isbn %>
      </td>
    </tr>

    <tr>
      <td>
          <strong>Author:</strong>
      </td>
      <td>
          <%= @book.author.full_author_name %>
      </td>
    </tr>
    <tr>
      <td>
          <strong>Category:</strong>
      </td>
      <td>
          <%= @book.category %>
      </td>
    </tr>
    <tr>
      <td>
          <strong>Price:</strong>
      </td>
      <td>
          <%= number_to_currency(@book.price) %>
      </td>
    </tr>
    <tr>
      <td>
          <strong>Description:</strong>
      </td>
      <td>
          <%= @book.description %>
      </td>
    </tr>        



    </tr>

  </tbody>
</table>


<% link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Add Review', new_review_path(book_id: @book.id) %> |
<%= link_to 'Buy', new_purchase_path(book_id: @book.id) %> |
<%= link_to 'Back', books_path %> 

<br>
<br>
<br>

<table class="table table-stripped" >
  <thead>
    
  </thead>
  <tbody>
    <% @book.reviews.each do |review| %>
      <tr>
        <td><strong>User: </strong>
        <%= review.user.email %></td>
      </tr>
      <tr>
        <td><strong>Rate: </strong>
        <%= review.rate %></td>
      </tr>
      <tr>
        <td><%= review.rev_text %>
      </tr>
      <tr>
        <td><strong>Date: </strong>
        <%= review.rev_date %><br><br><br></td>
      </tr>
    <% end %>    
  </tbody>
</table>

