<p id="notice"><%= notice %></p>


<table class = "table table-stripped">
  <tbody>
    <tr>
      <td>
        <p>
          <strong>Title:</strong>
          <%= @book.title %>
        </p>
        <p>
          <strong>Isbn:</strong>
          <%= @book.isbn %>
        </p>
        <p>
          <strong>Author:</strong>
          <%= @book.author.full_author_name %>
        </p>
        <p>
          <strong>Category:</strong>
          <%= @book.category %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= @book.price %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @book.description %>
        </p>
      </td>
      <td>
        <p>
          <td><%= image_tag @book.photo, class:"img-rounded" %></td>
        </p>        
      </td>
    </tr>

  </tbody>
</table>


<% link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Add Review', new_review_path(book_id: @book.id) %> |
<%= link_to 'Buy', new_purchase_path(book_id: @book.id) %> |
<%= link_to 'Back', books_path %> 

<br>
<br>
<br>

  <% @book.reviews.each do |review| %>
    <strong>User: </strong>
    <%= review.user.email %><br>
    <strong>Rate: </strong>
    <%= review.rate %><br>
    <%= review.rev_text %><br>
    <strong>Date: </strong>
    <%= review.rev_date %><br><br><br>
  <% end %>
  </tbody>
</table>