<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset disabled>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, User.all.collect {|p| [p.email, p.id]}, include_blank: true %> 
  </div>
  <div class="form-group">
    <%= f.label :book_id %><br>
    <%= f.select :book_id, Book.all.collect {|p| [p.title, p.id]}, include_blank: true %> 
  </div>
  </fieldset>
  <div class="form-group">
    <%= f.label :rate %><br>
    <%= f.text_field :rate, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :rev_text %><br>
    <%= f.text_field :rev_text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rev_date %><br>
    <%= f.date_select :rev_date, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'save', class: "btn btn-primary" %>
  </div>
<% end %>
