<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @review.rate %>
</p>

<p>
  <strong>Rev text:</strong>
  <%= @review.rev_text %>
</p>

<p>
  <strong>Rev date:</strong>
  <%= @review.rev_date %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |

<%= link_to 'Back', books_path(params[:book_id]) %>
