<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  
  


</head>
<body>
<br><br>
<div class='container'>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">eBook Store</a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.email == 'kandelchy@gmail.com' %>
          <li><a href=<%=new_book_path %> >Add Books</a></li>
          <li><a href=<%='/blog/monologue' %> >Add Blog</a></li>
        <%end%>  
      <%end%>
      <li class="active"><a href=<%= '/books' %>>Home</a></li>
      <li><a href=<%= new_maplocation_path%>>Map</a></li>
      <li><a href=<%= '/blog' %> >My Blog</a></li>
      <li><a href=<%= '/contact' %>>Contact us</a></li>

      <% if current_page?('/') || current_page?(books_path) %>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <%= form_tag(books_path, :method => "get", id: "search-form" )  do %>
                <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Search Books" %>
                <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
              <% end %>  
            </div>  
          </form>      
      <% end %>  
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href="<%= edit_user_registration_path %>"> <span class="glyphicon glyphicon-user"></span> Edit profile</a></li>
        <li><a href="<%= destroy_user_session_path %>" data-method="delete"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <%else%>
        <li><a href=<%= new_user_registration_path  %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href=<%=new_user_session_path %> ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <%end%>
    </ul>
  </div>
</nav>
<center><img src = "/assets/nook.jpg" class="img-rounded" ></center>
  <%= yield %>
</div>

</body>
</html>
